<html>
	<head>
	</head>

	<body>
		<form method = "POST" action = "/save">
			Enter name: <input type = "text" name = "item"></input>
			Amount: <input type = "text" name = "amount"></input>
			<input type = "submit" value = "Submit"></input>
		</form>
	</body>
</html>
